@{
    ViewData["Title"] = "ProductSave";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ProductDto

<div class="col-12">
    <div class="card">
        <div class="card-body">
            <form asp-controller="Products" method="post" asp-action="ProductSave" class="needs-validation" novalidate>


                <h4 class="card-title">Textual inputs</h4>

                <div class="mb-3 row">
                    <label class="col-md-2 col-form-label" asp-for="CategoryId"></label>
                    <div class="col-md-10">
                        <select itemid="ProductscategoryIdSave" asp-for="CategoryId" asp-items="ViewBag.categories" placeholder="Kategori Seçiniz" class="form-select">
                        </select>
                        <div class="invalid-feedback">Lütfen kategori alanını boş geçmeyiniz</div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label asp-for="Name" class="col-md-2 col-form-label"></label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" asp-for="Name" id="ProductNameSave" placeholder="Ürün adını giriniz">
                        <div class="invalid-feedback">Lütfen ürün adı alanını boş geçmeyiniz</div>

                    </div>
                </div>
                <div class="mb-3 row">
                    <label asp-for="Code" class="col-md-2 col-form-label"></label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" asp-for="Code" id="ProductCodeSave" placeholder="Ürün kodu giriniz">
                        <div class="invalid-feedback">Lütfen ürün kodu alanını boş geçmeyiniz</div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label asp-for="Barcode" class="col-md-2 col-form-label"></label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" asp-for="Barcode" id="ProductbarcodeSave" placeholder="Ürün barcode giriniz">
                        <div class="invalid-feedback">Lütfen ürün barcode alanını boş geçmeyiniz</div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label asp-for="SalePrice" class="col-md-2 col-form-label"></label>
                    <div class="col-md-10">
                        <input class="form-control" type="number" asp-for="SalePrice" id="ProductpriceSave" placeholder="0,00₺">
                        <div class="invalid-feedback">Lütfen ürün satış fiyatı alanını boş geçmeyiniz</div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label asp-for="TechnicalWebUrl" class="col-md-2 col-form-label"></label>
                    <div class="col-md-10">
                        <input class="form-control" type="url" asp-for="TechnicalWebUrl" id="ProductTecnichWebUrlSave" placeholder="Ürün tecncal web url giriniz">
                        <div class="invalid-feedback">Lütfen ürün tecnical web url alanını boş geçmeyiniz</div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label asp-for="ExplanationWebUrl" class="col-md-2 col-form-label"></label>
                    <div class="col-md-10">
                        <input class="form-control" type="url" asp-for="ExplanationWebUrl" id="ProductTecnichWebUrlSave" placeholder="Ürün açıklama web url giriniz">
                        <div class="invalid-feedback">Lütfen ürün açıklama web url alanını boş geçmeyiniz</div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary waves-effect waves-light w-md">Ürünü Ekle</button>
            </form>

        </div>
    </div>
</div>



