
@{
    ViewData["Title"] = "ProductUpdate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ProductDto

<div class="col-12">
    <div class="card">
        <div class="card-body">
            <form asp-controller="Products" asp-action="ProductUpdate" method="post" class="needs-validation" novalidate>

                <h4 class="card-title">Ürün Kayıt</h4>

                <div class="mb-3 row">
                    <label class="col-md-2 col-form-label">Kategoriler</label>
                    <div class="col-md-10">
                        <select id="ProductscategoryIdSave" asp-for="CategoryId" asp-items="ViewBag.categories" placeholder="Kategori Seçiniz" class="form-select">
                        </select>
                        <div class="invalid-feedback">Lütfen kategori alanını boş geçmeyiniz</div>

                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-md-2 col-form-label">Ürün Adı</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" asp-for="Name" id="ProductNameSave" placeholder="Ürün adını giriniz" required>
                        <div class="invalid-feedback">Lütfen ürün adı alanını boş geçmeyiniz</div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-md-2 col-form-label"> Ürün Kodu</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" asp-for="Code" id="ProductCodeSave" placeholder="Kodu giriniz" required>
                        <div class="invalid-feedback">Lütfen kod alanını boş geçmeyiniz</div>

                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-md-2 col-form-label"> Barkod</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" asp-for="Barcode" id="ProductbarcodeSave" placeholder="Barkod no giriniz" required>
                        <div class="invalid-feedback">Lütfen barkod alanını boş geçmeyiniz</div>

                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-md-2 col-form-label">Satış Fiyatı</label>
                    <div class="col-md-10">
                       <input id="input-currency" asp-for="SalePrice" class="form-control" onkeypress="return isNumberKey(event) " >
                        <div class="invalid-feedback">Lütfen fiyat alanını boş geçmeyiniz</div>

                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-md-2 col-form-label">Technical Web Url</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" asp-for="TechnicalWebUrl" id="ProductTecnichWebUrlSave" placeholder="Techcnical web url giriniz" required>
                        <div class="invalid-feedback">Lütfen Technical Web Url alanını boş geçmeyiniz</div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-md-2 col-form-label">ExplanationWebUrl</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" asp-for="ExplanationWebUrl" id="ProductTecnichWebUrlSave" placeholder="Açıklama web url giriniz" required>
                        <div class="invalid-feedback">Lütfen Explanation Web Url alanını boş geçmeyiniz</div>
                    </div>
                </div>
                <button id="btnSave" type="submit" class="btn btn-primary waves-effect waves-light w-md">Kaydet</button>
            </form>

        </div>
    </div>
</div>
@section Scripts
{
<script type="text/javascript">
         function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
</script>
}


